* {
	color: white;
	background-color: black;
}

#padlock-module-opener {
	background-color: rebeccapurple;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#padlock-module-opener-container {
	background-color: indigo;
	border: 1pt lightblue solid;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: 10vw;
	margin-bottom: 10vh;
	margin-right: 10vw; 
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#padlock-module-opener-label {
	background-color: indigo;
	font-weight: bold;
}

#padlock-module-opener-input {
	width: 80%;
}

#padlock-module-opener-button {
	background-color: rgb(23, 59, 23);
}

#padlock-module-opener-title {
	position: fixed;
	width: max-content;
	background-color: rgba(0,0,0,0);
}