* {
	color: white;
	background-color: black;
}

#padlock-module-opener {
	background-color: rebeccapurple;
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	min-height: 100vh;
}

#padlock-module-opener-container {
	background-color: indigo;
	border: 1pt lightblue solid;
	flex-basis: 100px;
	margin-top: 30pt;
	margin-left: 30pt;
	margin-bottom: 30pt;
	margin-right: 30pt; 
	display: inline-flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
	justify-items: center;
	justify-content: flex-start;
}

#padlock-module-opener-label {
	background-color: indigo;
	font-weight: bold;
}

#padlock-module-opener-input {
	width: 80%;
}

#padlock-module-opener-button {
	background-color: rgb(23, 59, 23);
}

#padlock-module-opener-title {
	text-align: center;
	width: max-content;
	background-color: rgba(0,0,0,0);
}